django 
djangorestframework 
djangorestframework-simplejwt 
itsdangerous
psycopg2-binary
gliner 
sentence-transformers 
pdfplumber
numpy
python-dotenv
django-allauth
cryptography
sentence-transformers
xhtml2pdf
django-widget-tweaks